# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science
- List libraries used by Data Scientists
- List of Data Science Tools

Some of the popular languages that Data Scientists use are:

1. Python
2. SQL
3. R
4. Julia

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Keras
4. TensorFlow

| Data Science Tools |
| -------------|
| Anaconda |
| JupyterLab |
| VisualStudio |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [4]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [30]:
print ("Hours")
(200/60)

Hours

3.3333333333333335

## Author
Donna